<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

  <body>

    <%- include('../partials/nav.ejs') %>

      <div class="container">
        <div class="card-container">
          <!-- Code here -->

          <!-- END Code Here -->
        </div>
      </div>

      <%- include('../partials/footer.ejs') %>

        <script src="/js/main.js"></script>

  </body>

</html>