<footer>
  <div class="bottom-menu">
    <% if (navMenus.length> 0) { %>
      <% navMenus.forEach(item=> { %>
        <div class="menu">
          <a href="<%= item.link %> ">
            <i class="<%= item.icon %> "></i>
            <p>
              <%= item.label %>
            </p>
          </a>
        </div>
        <% }) %>
          <% } else { %>
            <p>Loading...</p>
            <% } %>
  </div>
</footer>