<!-- <script src="/js/install-sw.js"></script> -->
<footer>
  <div class="bottom-menu">
    <% if(user){ %>
      <%- include('./navmenu-alogin.ejs') %>
        <% } else { %>
          <div class="menu">
            <a href="/signup">
              <i class="fas fa-user-plus"></i>
              <p>
                Sign Up
              </p>
            </a>
          </div>
          <div class="menu">
            <a href="/login">
              <i class="fas fa-sign-in-alt"></i>
              <p>
                Login
              </p>
            </a>
          </div>
          <% } %>
  </div>
</footer>