<nav>
  <div class="mobile-nav">
    <div class="logo">
      <a href="/">
        <%= navTitle %>
      </a>
    </div>

    <div class="user">
      <a onclick="tampilMenu()" class="userbtn"><i class="far fa-user-circle"></i></a>
    </div>
  </div>
  <div id="menuakun" class="menu-list">

    <% if (user) { %>
      <div class="username">
        <h3>
          <%= user.name %>
        </h3>
        <h3><%= user.email %> </h3>
        <h3>
          <%= user.bio %>
        </h3>
      </div>
      <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/signup">Register</a>
        <a href="/login">Login</a>
        <% } %>
  </div>
</nav>